responseFileVersion=/oracle/assistants/rspfmt_dbca_response_schema_v12.2.0
gdbName=###ORACLE_SID###
sid=###ORACLE_SID###
databaseConfigType=SI
createAsContainerDatabase=true
numberOfPDBs=1
pdbName=###ORACLE_PDB###
pdbAdminPassword=password
templateName=General_Purpose.dbc
sysPassword=password
systemPassword=password
emConfiguration=DBEXPRESS
emExpressPort=5500
dbsnmpPassword=password
storageType=FS
characterSet=###ORACLE_CHARACTERSET###
nationalCharacterSet=AL16UTF16
automaticMemoryManagement=FALSE
